@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem
  }
}


.bg-imagee {
  background-image: url('/assets/newsletter/bgFile.png');
  background-size: cover;
  border-radius: 20px;
}

.shad-input {
  @apply   text-white  h-11 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
}
